name: Test on Maven

on:
  [push, pull_request]

jobs:
  test-1-24-jdk25:

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
         java-version: '25'
         distribution: 'temurin'

      - name: Install GStreamer
        run: sudo apt-get update && sudo apt-get install gstreamer1.0-plugins-good gstreamer1.0-plugins-bad

      - name: Build with Maven
        run: ./mvnw --batch-mode verify

  test-1-20-jdk8:

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK 8
        uses: actions/setup-java@v5
        with:
         java-version: '8'
         distribution: 'temurin'

      - name: Install GStreamer
        run: sudo apt-get update && sudo apt-get install gstreamer1.0-plugins-good gstreamer1.0-plugins-bad

      - name: Build with Maven
        run: ./mvnw --batch-mode verify
